{% extends 'base.html' %}
{% block body %}
<!--  start contact us section -->
<h2 class="special-head">Sign In</h2>
<p>Dont't be busy, get in</p>

<section class="contact-us ">
    <div class="container">
        <div class="overlay-xx">
            <div class="row">
                <div class="col-lg-6 col-md-6 media-signin-ooo">
                <div class="sign-over"></div>
                <div class="top-talk">
                <h5 class="h5 display-1 text-uppercase">Hello, ANPR . </h5>
                <p class="lead">make sure to register to our amazing service ANPRecogintion system. </p> 
                <div class="social-row">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i> Log in with twitter  </a>
                </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 right-sign">
                <h5 class="h5 display-4">Login</h5>
                <p>If you don't have an account
                <a href="signup">Sign up form here .</a>
            <form>
                <div class="form-group col-md-6">

                  <input type="email" class="form-control" style="width:auto;" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">

                  <input type="password" class="form-control"  style="width:auto;" id="inputPassword4" placeholder="Password">
                </div>
              
              <button type="submit" class="btn btn-secondary d-block ml-auto">Sign In</button>
            </form>
                </div>
            
            
            </div>
        </div>
    </div>
</section>
<!--**end contact us sec*****-->
{% endblock %}