{% extends 'base.html' %}
{% block body %}
<h2 class="special-head">Sign Up</h2>
<p>Dont't be busy, subscribe now</p>
<!-- start contact us section -->
<section class="contact-us ">
    <div class="container">
        <div class="overlay-xx">
            <div class="row">
                <div class="col-lg-6 col-md-6 media-signin-ooo">
                <div class="sign-over"></div>
                <div class="top-talk">
                <h5 class="h5 display-1 text-uppercase">Hello, ANPR . </h5>
                <p class="lead">make sure to register to our amazing service ANPRecogintion system. </p> 
                <div class="social-row">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i> Log in with twitter  </a>
                </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 right-sign">
                <h5 class="h5 display-4">Register</h5>
                <p>If you have an account
                <a href="login">Sign in form here .</a>
                If not creat you account below , it takes less than one minute</p>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">

                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">

                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
              </div>
              <div class="form-group">

                <input type="text" class="form-control" id="inputAddress" placeholder="Address ( 1234 Main St)">
              </div>
              <div class="form-group">

                <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2 (Apartment, studio, or floor)">
              </div>
                <div class="form-group ">

                  <input type="text" class="form-control" placeholder="Your City Name" id="inputCity">
              </div>
              
              <button type="submit" class="btn btn-secondary d-block ml-auto">Sign Up</button>
            </form>
                </div>
            
            
            </div>
        </div>
    </div>
</section>
<!--**end contact us sec*****-->

{% endblock %}